
/* HEADER */
#hdr {
  background-color: #000;
  overflow: auto;
}

#hdr .container {
  color: #fff;
  padding-top: 20px;
  padding-bottom: 10px;
}

#hdr p {
-webkit-margin-before: 0em;
-webkit-margin-after: .75em;
-webkit-margin-start: 15px;
-webkit-margin-end: 0px;
}

#logo-hdr img {
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
}

#shortcut img {
  float: right;
  margin-bottom: 0.5em;
}

/* wide devices only - green */
@media (min-width: 961px) {
  #hdr {
    margin: 0 0 30px 0;
  }
  #hdr .container {
    height: 130px;
  }
  #logo-hdr img {
    height: 80px;
    width: 410px;
  }
}

/** mid A -
 * header logo breakpoint - red
 */
@media (min-width: 662px) and (max-width: 960px) {
  #hdr {
    margin: 0 0 30px 0;
  }
  #hdr .container {
    height: 130px;
  }
  #logo-hdr img {
    max-width: 410px;
    width: 75%;
  }
}

/** mid B -
 * header logo breakpoint - orange
 */
@media (min-width: 481px) and (max-width: 661px) {
  #hdr {
    margin: 0 0 20px 0;
  }
  #hdr .container {
    height: 140px;
  }
  #logo-hdr img {
    display: block;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  #contact p {
    padding: 0 10px 0;
  }
  #phnumber p {
    text-align: right;
  }
  #address p {
    text-align: left;
  }
}

/* narrow devices only - blue */
@media (min-width: 320px) and (max-width: 480px) {
  #hdr {
    margin: 0 0 10px 0;
  }
  #hdr .container {
    height: 150px;
  }
  #logo-hdr img {
    display: block;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  #contact p {
    text-align: center;
  }
}
