/* GENERAL RULE */
body,
button,
input,
optgroup,
select,
textarea  {
  font-size: 1em;
  font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
}

body p {
  white-space: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  width: 100%;
}

.container {
  padding: 0 10px 0;
  margin: 0 auto 0;
}

.containerfull {
  padding: 0;
  margin: 0;
}

.row {
  width: 100%;
}

.column {
  float: left;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.btn {
}

button {
  overflow: hidden;
}

img[alt]:not(.icon) {
  font: inherit;
}

.cover {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.contain {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}

.italic {
  font-style: italic;
}

.light {
  font-weight: 300;
  letter-spacing: 0.02em;
}

.semibold {
  font-weight: 600;
}

.gd {
  font-family: 'gidoleregular', helvetica, arial, sans-serif;
  letter-spacing: 0.025em;
}

.black {
  color: #000;
}

.white {
  color: #fff;
}

.icon48 {
  height: 48px;
  width: 48px;
}

.icon36 {
  height: 36px;
  width: 36px;
}

.icon30 {
  height: 30px;
  width: 30px;
}

.icon24 {
  height: 24px;
  width: 24px;
}

.icon18 {
  height: 18px;
  width: 18px;
}

.wide-disp {
  display: none !important;
}

/* wide devices only - green */
@media (min-width: 961px) {
  .container {
    width: 960px;
  }
  .wide-12 {
    width: 100%;
  }
  .wide-9 {
    width: 75%;
  }
  .wide-8 {
    width: 66.67%;
  }
  .wide-7 {
    width: 58.33%;
  }
  .wide-6 {
    width: 50%;
  }
  .wide-5 {
    width: 41.67%;
  }
  .wide-4 {
    width: 33.33%;
  }
  .wide-3 {
    width: 25%;
  }
  .wide-1 {
    width: 8.33%;
  }
  .wide-disp {
    display: block !important;
  }
  .wide-hide {
    display: none;
  }
}

.mid-disp {
  display: none !important;
}

/* mid devices only */
@media (min-width: 481px) and (max-width: 960px) {
  .container {
    width: 100%;
    max-width: 960px;
  }
  .mid-12 {
    width: 100%;
  }
  .mid-9 {
    width: 75%;
  }
  .mid-8 {
    width: 66.67%;
  }
  .mid-7 {
    width: 58.33%;
  }
  .mid-6 {
    width: 50%;
  }
  .mid-5 {
    width: 41.67%;
  }
  .mid-4 {
    width: 33.33%;
  }
  .mid-3 {
    width: 25%;
  }
  .mid-1 {
    width: 8.33%;
  }
  .mid-disp {
    display: block !important;
  }
  .mid-hide {
    display: none;
  }
}

.mida-disp {
  display: none !important;
}
/** mid A -
 * header logo breakpoint - red
 */
@media (min-width: 662px) and (max-width: 960px) {
  .mida-12 {
    width: 100%;
  }
  .mida-9 {
    width: 75%;
  }
  .mida-8 {
    width: 66.67%;
  }
  .mida-7 {
    width: 58.33%;
  }
  .mida-6 {
    width: 50%;
  }
  .mida-5 {
    width: 41.67%;
  }
  .mida-4 {
    width: 33.33%;
  }
  .mida-3 {
    width: 25%;
  }
  .mida-1 {
    width: 8.33%;
  }
  .mida-disp {
    display: block !important;
  }
  .mida-hide {
    display: none;
  }
}

.midb-disp {
  display: none !important;
}
/** mid B -
 * header logo breakpoint - orange
 */
@media (min-width: 481px) and (max-width: 661px) {
  .midb-12 {
    width: 100%;
  }
  .midb-6 {
    width: 50%;
  }
  .midb-4 {
    width: 33.33%;
  }
  .midb-disp {
    display: block !important;
  }
  .midb-hide {
    display: none;
  }
}

.narr-disp {
  display: none !important;
}
/* narrow devices only - blue */
@media (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 100%;
    max-width: 480px;
  }
  .narr-12 {
    width: 100%;
  }
  .narr-8 {
    width: 66.67%;
  }
  .narr-7 {
    width: 58.33%;
  }
  .narr-6 {
    width: 50%;
  }
  .narr-5 {
    width: 41.67%;
  }
  .narr-4 {
    width: 33.33%;
  }
  .narr-disp {
    display: block !important;
  }
  .narr-hide {
    display: none;
  }
}
