/* GENERAL RULE */

body {
  font-size: 1em;
  font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
}

body p {
  white-space: normal;
}

a {
  text-decoration: none;
}

.italic {
  font-style: italic;
}

.light {
  font-weight: 300;
  letter-spacing: 0.02em;
}

.semibold {
  font-weight: 600;
}

.gd {
  font-family: 'gidoleregular', helvetica, arial, sans-serif;
}

.icon48 {
  height: 48px;
  width: 48px;
}

.icon36 {
  height: 36px;
  width: 36px;
}

.icon30 {
  height: 30px;
  width: 30px;
}

.icon24 {
  height: 24px;
  width: 24px;
}

.icon18 {
  height: 18px;
  width: 18px;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.row {
  width: 100%;
}

.column {
  float: left;
}

.btn {
}

button {
  overflow: hidden;
}


/* HEADER */

.hdr {
  background-color: #000;
  background-size: auto 120px;
  margin: 0 0 30px 0;
}

#header-container {
  color: #fff;
  margin: 0 auto 0;
}

#header-container p {
-webkit-margin-before: 0em;
-webkit-margin-after: .75em;
-webkit-margin-start: 15px;
-webkit-margin-end: 0px;
}

#logo-hdr img {
  margin-top: 10px;
  border: none;
  height: 80px;
  width: 400px;
  background-color: #111;
}

#shortcut-area img {
  float: right;
  margin-bottom: 0.5em;
}

/* CONTENT */
.content-container {
  width: 100%;
  /*background-color: #BBB;*/
}

#item-container {
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

#item-head {
  padding-top: 10px;
  margin-bottom: 5px;
  /*background-color: #D79C3C;*/
}

.item-title h1 {
  font-size: 1.8em;
  text-transform: uppercase;
  margin: 0;
}

#item-body {
  height: auto;
  /*background-color: #BB98D1;*/
}

#item-stage {
  width: 615px;
  height: 405px;
  position: relative;
  background-color: #393939;
}

#stage-nav button {
  padding: 0;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 40%;
  border: none;
  background: transparent;
  overflow: hidden;
  opacity: 0.05;
}

#stage-nav button:hover,
#stage-nav button:focus {
  opacity: 0.5;
  outline: none;
}

#stage-nav button:active,
#stage-nav button:visited {
  opacity: 0.05;
}

#stage-nav button img {
  margin: 0 auto 0;
}

button#sprev {
  left: 0;
}

button#snext {
  right: 0;
}

#thumbnails-set {
  width: 615px;
  height: 72px;
  margin-top: 10px;
  /*background-color: #999;*/
}

.single-thumbnail {
  float: left;
  margin-right: 12px;
  width: 64px;
  height: 64px;
  background-color: #616161;
}

.single-thumbnail:hover {
  cursor: pointer;
}

.single-thumbnail:hover,
.single-thumbnail:active,
.single-thumbnail:focus {
  border: 1px solid #000;
}

.label {
  width: 60px;
}

#item-info .row {
  margin-bottom: 10px;
  padding: 0 0.67em 0;
}

#item-info p {
  margin: 0;
}

#price p {
  font-size: 1.5em;
  text-transform: uppercase;
}

#size {
  margin-top: 1.5em;
}

.notes {
  font-size: 0.75em;
  position: relative;
  bottom: -0.25em;
}

button#size-info {
  margin-left: 4em;
  border: none;
  background-color: transparent;
}

button#size-info:hover {
  cursor: pointer;
  text-decoration: underline;
}

button#size-info:focus {
  outline: none;
}

button#size-info:active {
  color: rgba(0, 0, 0, 0.5);
}

button.size-box {
  height: 44px;
  width: 44px;
  color: #000;
  background-color: #FFF;
  border: 2px solid #000;
  margin: 0 0.5em 0 0;
  text-align: center;
  padding: 4px 0 0 0;
  overflow: hidden;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

button.size-box p {
  font-size: 28px;
  line-height: 1;
}

button.size-box:hover {
  cursor: pointer;
  color: #fff;
  background-color: #000;
}

button.size-box:focus,
button.size-box:active {
  outline: none;
  cursor: pointer;
  color: #fff;
  background-color: #000;
}

#action {
  padding-top: 20px;
}

#action button {
  width: 240px;
  height: 48px;
  background-color: #000;
  border: 2px inset #000;
  padding: 8px 20px 6px;
  color: #fff;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

#action button p {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-right: 10px;
}

#action button p,
#action button img {
  display: inline-block;
  vertical-align: middle;
}

#action button:hover {
  background-color: #fff;
  cursor: pointer;
  color: #000;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#action button:active {
  background-color: #000;
  color: #fff;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

/* CONTENT BELOW */


#item-nav-area {
  margin: 0 auto 0;
  width: 940px;
  padding-top: 96px;
  position: relative;
}

#item-nav-area .column {
  text-align: center;
}

#item-nav {
  display: inline-block;
  text-align: center;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#item-nav button {
  height: 2em;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 1em;
  background-color: transparent;
  margin: 0 10px 0;
  padding: 2px 8px;
  color: #000;
  font-size: 0.8em;
  cursor: pointer;
}

#item-nav button p {
  margin: 0;
}

#item-nav button:hover {
  border: 1px solid rgba(0, 0, 0, .5);
  /*text-decoration: underline;*/
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/*FOOTER*/

#white-space-below {
  height: 100px;
}

#footer-text-area {
  margin: 0 auto 0;
}

#copyright {
  text-align: center;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.8);
}

#mediamarker {
  width: 100px;
  height: 5px;
  position: absolute;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
}

/* wide devices only - green */
@media (min-width: 961px) {
  #mediamarker {
    background-color: green;
  }
  #header-container {
    height: 120px;
    width: 940px;
    padding: 15px 0 0;
  }
  .wide-12 {
    width: 100%;
  }
  .wide-8 {
    width: 66.67%;
  }
  .wide-7 {
    width: 58.33%;
  }
  .wide-6 {
    width: 50%;
  }
  .wide-5 {
    width: 41.67%;
  }
  .wide-4 {
    width: 33.33%;
  }
  .wide-1 {
    width: 8.33%;
  }
}

/* mid devices only - red */
@media (min-width: 481px) and (max-width: 960px) {
  #mediamarker {
    background-color: red;
  }
  #header-container {
    min-height: 120px;
    height: auto;
    width: 100%;
    max-width: 940px;
    padding: 15px 10px 0;
  }
  #footer-text-area {
    width: 100%;
    max-width: 920px;
  }
  .mid-12 {
    width: 100%;
  }
  .mid-8 {
    width: 66.67%;
  }
  .mid-7 {
    width: 58.33%;
  }
  .mid-6 {
    width: 50%;
  }
  .mid-5 {
    width: 41.67%;
  }
  .mid-4 {
    width: 33.33%;
  }
  .mid-1 {
    width: 8.33%;
  }
}

/* narrow devices only - blue */
@media (min-width: 320px) and (max-width: 480px) {
  #mediamarker {
    background-color: blue;
  }
  #footer-text-area {
    width: 100%;
    max-width: 450px;
  }
  .narr-12 {
    width: 100%;
  }
  .narr-8 {
    width: 66.67%;
  }
  .narr-7 {
    width: 58.33%;
  }
  .narr-6 {
    width: 50%;
  }
  .narr-5 {
    width: 41.67%;
  }
  .narr-4 {
    width: 33.33%;
  }
  .narr-1 {
    width: 8.33%;
  }
  .narr-hide {
    display: none;
  }
}
