<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.page_name }} {{ page.name }}</title>
    <link rel="stylesheet" href="{{ page.root_path }}public/docs/css/base.css" media="screen">
    <link rel="stylesheet" href="{{ page.root_path }}public/docs/css/main.css" media="screen">
    <link rel="stylesheet" href="{{ page.root_path }}public/docs/css/hefo.css" media="screen">
    <link rel="stylesheet" href="{{ page.root_path }}public/docs/css/all.css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
  </head>
  <body>
    {% include 'partials/header.html' %}
    <hr class="short">
    <div class="wrapper" id="all">
      <div class="container">
        <div class="row cf" id="all-head">
          <div class="column gd wide-12 mid-12 narr-12">
            <h1>{{ page.headtxt }}</h1>
          </div>
        </div>
        <div class="row cf" id="all-items">
          {% include 'partials/eachitem.html' %}
        </div>
      </div>
    </div>
    <hr class="tall">
    {% include 'partials/footer.html' %}
    <script type="text/javascript" src="js/script.js"></script>
  </body>
</html>
